html {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("images/background-photo.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.type-writer {
	color: white;
	font-family: Montserrat;
	font-weight: bolder;
	align-items: center;
	display: flex;
	justify-content: center;
	padding-top: 10px;
	overflow: hidden;
}

.typed-text {
	color: orange;
	font-weight: lighter;
}

.cursor {
	display: inline-block;
	width: 3px;
	margin-left: 0.1rem;
	animation: blink 1s infinite;
}

.cursortyping {
	animation: blink 100s infinite;
}

@keyframes blink {
	0% { background-color: #ccc; }
	49% { background-color: #ccc }
	50% { background-color: transparent; }
	99% { background-color: transparent; }
	100% { background-color: #ccc }
}